:root {
    --colorP1: #F47920;
    --colorP2:  #005883;
    --backgroundP:#E5E5E5;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
    font-family: 'Lato', sans-serif;
    line-height: 1.8em;
    font-size: 1.05em;
}
/*header*/
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--colorP2);
    color: #FFFFFF;  
    width: 100%;
    position: sticky;
    top: 0px;
    height: 70px;
}
/*logo*/
.logo{
    max-width: 100%;
    width: 250px;
    padding: .2em;
}
/*MENU*/
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    line-height: 3rem;
    position: relative;
}
nav li ul {
    position: absolute;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 2.5em;
    display: block;
}
nav a:hover {
    border-bottom: 4px solid var(--colorP1);
}
nav li ul {
    display: none;
}
nav li:hover ul {
    display: block;
}
/*PRIMER NIVEL*/
nav ul {
    display: table;
    width: 100%;
}
nav > ul > li {
    float: left;
}
/*SEGUNDO NIVEL*/
nav li li {
    background-color: var(--colorP2);
    max-height: 0;
    display: none;
    width: 162px;
}
nav li:hover > ul > li{
    max-height: 500px;
    display: block;
}
nav > ul > li > ul {
    top: 100%;
}
.subtitle {
    color: var(--colorP1);
}
.imgPredeterminado {
    max-width: 100%;
    width: 520px;
    padding-top: .8em;
    display: block;
   margin: .5em;
}
.banner img {
    max-width: 100%;
    width: 1336px;
    background-position: fixed;
    z-index: -10;
    margin-bottom: .5em;
}
.content {
    display: flex;
    justify-content: space-around;
}
aside {
    width: 200px;
}
.practica {
    width: 100%;
    height: 500px;
}
.info-adicional {
    margin-left: 40px ;
}
.info-adicional p {
    font-style: italic;
    background-color: #F47920;
    display: inline-block;
}
/*footer*/
.footer {
    background-color: var(--colorP2);
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 1em;
    width: 100%;
}
